<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HSE.Contest</title>
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/ant-design-vue@1.7.4/dist/antd.min.css>
</head>
<body>

    <div id="layout"></div>


    <script src="https://unpkg.com/vue"></script>
    <script src="~/js/moment.js"></script>
    <script src=https://cdn.jsdelivr.net/npm/ant-design-vue@1.7.4/dist/antd.min.js></script>
    <script>
        new Vue({
            el: '#layout',
            template: `
                <a-layout class="layout" style="display: flex; flex-direction: column; min-height: 100vh;">
        <a-layout-header>
            <a-menu
                theme="dark"
                mode="horizontal"
                :style="{ lineHeight: '64px' }"
            >
                <a-menu-item key="logo">@Html.RouteLink("HSE.Contest", new { controller = "Account", action = "Index", area = "Administration" })</a-menu-item>
            @if(IsSectionDefined("Back"))
            {

                <a-menu-item key="back">@RenderSection("Back")</a-menu-item>
            }
            @if(IsSectionDefined("ManageGroups"))
            {

                <a-menu-item key="groups">@RenderSection("ManageGroups")</a-menu-item>
            }
            @if(IsSectionDefined("ManageCodeStyle"))
            {

                <a-menu-item key="codeStyle">@RenderSection("ManageCodeStyle")</a-menu-item>
            }
            @if(IsSectionDefined("ManageTasks"))
            {

                <a-menu-item key="tasks">@RenderSection("ManageTasks")</a-menu-item>
            }

                <a-menu-item key="logout" style="float: right"> @Html.RouteLink("Logout", new { controller = "Account", action = "Logout", area = "Administration"})</a-menu-item>
            </a-menu>


        </a-layout-header>
        <a-layout-content style="padding: 0 50px; flex: 1">
            <div style="margin: 16px 0">
            </div>
            <div style="background: #fff; padding: 24px; minHeight: 280px">
                @RenderBody()
            </div>
        </a-layout-content>
        <a-layout-footer style="text-align: center;">
            Вышка.Контест ©2020
        </a-layout-footer>
    </a-layout>
               `
        });
    </script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
